# Environment files
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.vscode/
.idea/

# Safe trash
trash/

